
@{
    ViewBag.Title = "Biologia";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h2></h2>
<div style="text-align:center">
    <a href="~/Content/imagens/Biologia c/A_determinação_do_sexo.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/A_determinação_do_ sexo_r.jpg" />
    </a>

    <a href="~/Content/imagens/Biologia c/acidos_nucleicos.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/acidos_nucleicos_r.jpg" />
    </a>
   
    <a href="~/Content/imagens/Biologia c/algas.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/algas_r.jpg" />
    </a>

    <a href="~/Content/imagens/Biologia c/anelidios.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/anelidios _r.jpg" />
    </a>

    <a href="~/Content/imagens/Biologia c/artropodes.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/artropodes_r.jpg" />
    </a>

    <a href="~/Content/imagens/Biologia c/briofilas_e_pteridofitas.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/briofilas_e_pteridofitas_r.jpg" />       
    </a>
     
    <a href="~/Content/imagens/Biologia c/briofitas.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/briofitas_r.jpg" />
    </a>

    <a href="~/Content/imagens/Biologia c/cadeia_teia_alimentar.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/cadeia _teia_alimentar r.jpg" />
    </a>

    <a href="~/Content/imagens/Biologia c/carboidratos.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/carboidratos_r.jpg" />
    </a>

    <a href="~/Content/imagens/Biologia c/ciclos_biogeoquimicas.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/ciclos_biogeoquimicas_r.jpg" />
    </a>

    <a href="~/Content/imagens/Biologia c/Ciclos.jpg" data-lightbox="biologia">
        <img src="~/Content/imagens/Biologia c/reduzido/Ciclos_r.jpg" />
    </a>