@{
    ViewBag.Title = "Inglês";
    Layout = "~/Views/Home/_Layout.cshtml";
}
    <h2></h2>
    <div style="text-align:center">
        <a href="~/Content/imagens/ingles/ingles_no_enem_dicas.jpg" data-lightbox="ingles">
            <img src="~/Content/imagens/ingles/Reduzido/inglesNoEnemDicasR.jpg" />
        </a>
        <a href="~/Content/imagens/ingles/phrasal_verbs.jpg" data-lightbox="ingles">
            <img src="~/Content/imagens/ingles/Reduzido/InterrogativePronouns R.jpg" />
        </a>
        <a href="~/Content/imagens/ingles/pronomes_interrogativas.jpg" data-lightbox="ingles">
            <img src="~/Content/imagens/ingles/Reduzido/phrasalverbs R.jpg" />
        </a>
        <a href="~/Content/imagens/ingles/reported_speech.jpg" data-lightbox="ingles">
            <img src="~/Content/imagens/ingles/Reduzido/reportedspeech R.jpg" />
        </a>
    </div>
