@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div class="margin"><center>
                        <h4>
                            <p class="padrao">Este site foi desenvolvido para o Trabalho de Conclusão de Curso (TCC) da escola ETEC-Sylvio de Mattos Carvalho (Matão-SP),
                            com o intuito de ajudar os estudantes a localizarem os cursos desejados.</p>
                            Foi desenvolvido no Visual Studio 2017.
                        </h4>
    </center>
</div>
    
<div class="margin"><center>
                        <h2>Os desenvolvedores foram:</h2>
                        <h4>
                            <br />Beatriz Braga;
                            <br />Gabriela Eduarda de Paula;
                            <br />Maria Eduarda da Silva Rueda;
                            <br />Otávio Henrique Tomaz da Silva;
                            <br />Paulo Henrique Gonçalves da Silva e
                            <br />Vitória Leite Minotti.
                        </h4>

    </center>
</div>